<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' th:href="@{/css/style.css}">
    <link rel="stylesheet" type='text/css' th:href="@{/css/table.css}">

</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Members</h2>
<div class="content-wrapper">
<table class="blueTable" >
    <tr>
        <th>Id</th>
        <th>CustomerId</th>
        <th>Region</th>
        <th>District</th>
        <th>ContractType</th>
        <th>TotalPrice</th>
    </tr>
    <tr th:each ="member : ${contracts}">
        <td th:utext="${member.getId()}">...</td>
        <td th:utext="${member.getCustomer().getEmail()}">...</td>
        <td th:utext="${member.getRegion()}">...</td>
        <td th:utext="${member.getDistrict()}">...</td>
        <td th:utext="${member.getOrderType()}">...</td>
        <td th:utext="${member.getTotalPrice()}">...</td>
    </tr>
</table>
</div>
</body>
</html>