<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

<body>


<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container-fluid">
    <h1>Contracts Table</h1>
    <div class="row col-lg-10 table-responsive">
        <table id="contracts" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Customer Id</th>
                <th>Region</th>
                <th>District</th>
                <th>Contract Type</th>
                <th>Status</th>
                <th>Stage</th>
                <th>Total Price</th>
                <th>Payed Amount</th>
                <th>Registered</th>
                <th>Last Updated</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract : ${contracts}">
                <td th:utext="${contract.getId()}">...</td>
                <td th:utext="${contract.getCustomer().getEmail()}">...</td>
                <td th:utext="${contract.getRegion()}">...</td>
                <td th:utext="${contract.getDistrict()}">...</td>
                <td th:utext="${contract.getOrderType()}">...</td>
                <td th:utext="${contract.getOrderStatus()}">...</td>
                <td th:utext="${contract.getStage()}">...</td>
                <td th:utext="${contract.getTotalPrice()}">...</td>
                <td th:utext="${contract.getPayedAmount()}">...</td>
                <td th:utext="${#dates.format(contract.getRegistered(), 'dd/MMM/yyyy')}">...</td>
                <td th:utext="${#dates.format(contract.getUpdated(), 'dd/MMM/yyyy')}">...</td>
                <td>
                    <a class="btn btn-primary" th:href="@{/contract/{id}/update(id=${contract.getId()})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-md-8">
        <div class="myForm">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#registerModal"
                    data-whatever="@mdo">Register
            </button>

            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contract Registration Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/contract/register}" th:object="${contractForm}" method="POST">
                                <div class="form-group">
                                    <label for="customer" class="col-form-label">Customer:</label>
                                    <select id="customer" th:field="*{customerId}">
                                        <option th:each="c : ${customers}" th:value="${c.getId()}"
                                                th:text="${c.getName()}">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="region" class="col-form-label">Region:</label>
                                    <select id="region" th:field="*{region}">
                                        <option th:each="r : ${regionOptions}" th:value="${r}" th:text="${r}">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="district" class="col-form-label">District:</label>
                                    <select id="district" th:field="*{district}">
                                        <option th:each="d : ${districtOptions}" th:value="${d}" th:text="${d}">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">Type:</label>
                                    <select id="type" th:field="*{type}">
                                        <option th:each="t : ${typeOptions}" th:value="${t.getLabel()}"
                                                th:text="${t.getLabel()}">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="status" class="col-form-label">Status:</label>
                                    <select id="status" th:field="*{status}">
                                        <option th:each="s : ${statusOptions}" th:value="${s.getLabel()}"
                                                th:text="${s.getLabel()}">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="stage" class="col-form-label">Type:</label>
                                    <select id="stage" th:field="*{stage}">
                                        <option th:each="s : ${stagesOptions}" th:value="${s.getLabel()}"
                                                th:text="${s.getLabel()}">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="price" class="col-form-label">Price:</label>
                                    <input type="number" class="form-control" id="price" th:field="*{totalPrice}">
                                </div>
                                <div class="form-group">
                                    <label for="comment" class="col-form-label">Comment:</label>
                                    <textarea class="form-control" id="comment" th:field="*{comment}"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input class="btn btn-primary" type="submit">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#contracts').DataTable();
    });
</script>
</body>
</html>