<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:href="@{/css/addons/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">

    <script type="text/javascript" charset="utf8" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- mdb dependencies -->
    <script type="text/javascript" charset="utf8" th:src="@{/js/addons/datatables.min.js}"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>


<!-- Include menu.html -->
<th:block th:include="menu"></th:block>

<div class="container-fluid">
    <h1>Таблиця Договорів</h1>
    <!--    table-->
    <div class="row">
        <div class="md-form input-group">
            <div class="input-group-prepend mr-3">
                <span class="input-group-text md-addon">Дата реєстрації від і до</span>
            </div>
            <input type="date" aria-label="Від" id="min" class="form-control mr-3">
            <input type="date" aria-label="До" id="max" class="form-control mr-3">
            <button id="initSearch" class="btn btn-sm btn-outline-success">Фільтрувати</button>
        </div>
    </div>
    <div class="row col-md-12 table-responsive">
        <table id="contracts" class="table table-striped" cellspacing="0" width="100%">
            <thead class="table-dark">
            <tr>
                <th class="th-sm">Номер Договору</th>
                <th class="th-sm">Замовник</th>
                <th class="th-sm">Область</th>
                <th class="th-sm">Район</th>
                <th class="th-sm">Село</th>
                <th class="th-sm">Вид договору</th>
                <th class="th-sm">Статус</th>
                <th class="th-sm">Фаза</th>
                <!--                <th class="th-sm">Total Price</th>-->
                <!--                <th class="th-sm">Payed Amount</th>-->
                <th class="th-sm">Дата реєстрації</th>
                <!--                <th class="th-sm">Last Updated</th>-->
                <th class="th-sm">Інше інфо</th>
                <th class="th-sm">Редагувати</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract : ${contracts}">
                <td class="th-sm" th:utext="${contract.getContractIdentifier()}">...</td>
                <td th:utext="${contract.getCustomer().getOrgName()}"></td>
                <td th:utext="${contract.getRegion()}">...</td>
                <td th:utext="${contract.getDistrict()}">...</td>
                <td th:utext="${contract.getVillageCouncil()}">...</td>
                <td th:utext="${contract.getOrderType()}">...</td>
                <td th:utext="${contract.getOrderStatus()}">...</td>
                <td th:utext="${contract.getStage()}">...</td>
                <!--        <td th:utext="${contract.getTotalPrice()}">...</td>-->
                <!--        <td th:utext="${contract.getPayedAmount()}">...</td>-->
                <td th:utext="${#dates.format(contract.getRegistered(), 'dd/MMM/yyyy')}">...</td>
                <!--                <td th:utext="${#dates.format(contract.getUpdated(), 'dd/MMM/yyyy')}">...</td>-->
                <td>
                    <span th:if="${contract.getPassedDaysAfterLastUpdated()}*-1 < 5"
                          class="badge badge-success mr-1"
                          th:utext="... + ${contract.getPassedDaysAfterLastUpdated()} + ...">...</span>
                    <span th:if="${contract.getPassedDaysAfterLastUpdated()}*-1 > 10"
                          class="badge badge-danger mr-1"
                          th:utext="... + ${contract.getPassedDaysAfterLastUpdated()} + ...">...</span>
                    <span
                            th:if="${contract.getPassedDaysAfterLastUpdated()*-1 < 10} and ${contract.getPassedDaysAfterLastUpdated()*-1 > 5}"
                            class="badge badge-warning mr-1"
                            th:utext="... + ${contract.getPassedDaysAfterLastUpdated()} + ...">...</span>
                    <span th:if="${(contract.getTotalPrice() - contract.getPayedAmount()) < 1}"
                          class="badge badge-success"
                          th:utext="'$' + ${contract.getTotalPrice() - contract.getPayedAmount()} ">...</span>
                    <span th:if="${(contract.getTotalPrice() - contract.getPayedAmount()) > 1}"
                          class="badge badge-warning"
                          th:utext="'$' + ${contract.getTotalPrice() - contract.getPayedAmount()} ">...</span>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       th:href="@{/contract/{id}/update(id=${contract.getId()})}">Редагувати</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--Ok message    -->
    <div class="row col-lg-6">
        <div th:if="${newContract != null}" class="alert alert-success" role="alert">
            <div th:utext="${'Contract successfully registered: ' + newContract.getContractIdentifier()}"></div>
            <button type="button" class="close col-2" data-dismiss="alert">x</button>
        </div>
    </div>
    <!--Rehister Btn-->
    <div class="row col-md-10">
        <a type="button" class="btn btn-success" th:href="@{/contract/register}">Register
        </a>
    </div>
</div>
</div>
<script type="text/javascript" charset="utf8" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/js/modules/mdb-autocomplete.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/js/modules/material-select.js}"></script>
<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = new Date($('#min').val());
            var max = new Date($('#max').val());
            var date = new Date(data[8]); // use data for the age column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && date <= max) ||
                (min <= date && isNaN(max)) ||
                (min <= date && date <= max)) {
                return true;
            }
            return false;
        }
    );
</script>
<script>
    $(document).ready(function () {
        var table = $('#contracts').DataTable();
        $('#contracts_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#contracts_wrapper .dataTables_filter').find('input').each(function () {
            $('input').attr("placeholder", "Search");
            $('input').removeClass('form-control-sm');
        });
        $('#contracts_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#contracts_wrapper .dataTables_filter').addClass('md-form');
        $('#contracts_wrapper select').removeClass(
            'custom-select custom-select-sm form-control form-control-sm');
        $('#contracts_wrapper select').addClass('mdb-select');
        $('#contracts_wrapper .mdb-select').materialSelect();
        $('#contracts_wrapper .dataTables_filter').find('label').remove();


        $('#initSearch').click(function () {
            table.draw();
        });
    });

</script>

</body>
</html>