<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' th:href="@{/css/style.css}">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
</head>

<body>

<!-- Include menu.html -->
<th:block th:include="/menu"></th:block>

<h2>Members</h2>
<div class="container">
    <h1>Customers Table</h1>
    <div class="row col-md-10 table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Region</th>
                <th>Address</th>
            </tr>
            <tr th:each="member : ${customers}">
                <td th:utext="${member.getId()}">...</td>
                <td th:utext="${member.getName()}">...</td>
                <td th:utext="${member.getEmail()}">...</td>
                <td th:utext="${member.getPhone()}">...</td>
                <td th:utext="${member.getRegion()}">...</td>
                <td th:utext="${member.getAdress()}">...</td>
            </tr>
        </table>
    </div>
    <div class="row col-md-4">
        <div class="myForm">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#registerModal"
                    data-whatever="@mdo">Register
            </button>

            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/demo/register}" th:object="${appUserForm}" method="POST">

                                <div class="form-group">
                                    <label for="userName" class="col-form-label">User Name</label>
                                    <input id="userName" type="text" th:field="*{name}"/>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="ui-state-error-text">..</span>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input id="email" type="text" th:field="*{email}"/>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="ui-state-error-text">..</span>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input id="phone" type="text" th:field="*{phone}"/>
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="ui-state-error-text">..</span>
                                </div>
                                <div class="form-group">
                                    <label for="region">Region</label>

                                    <select id="region" th:field="*{region}">
                                        <option value=""> --</option>
                                        <option value="0">Lviv</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input class="btn btn-primary" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>