<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' th:href="@{/css/style.css}">
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/demo/register}" th:object="${appUserForm}" method="POST">
    <table>
        <tr>
            <td>User Name</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
            </td>
        </tr>
        <tr>
            <td>Region</td>
            <td>
                <select th:field="*{region}">
                    <option value=""> -- </option>
                    <option th:each="country : ${countries}"
                            th:value="${country.countryCode}"
                            th:utext="${country.countryName}"/>
                </select>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>