<nav class="navbar navbar-expand-sm bg-dark navbar-dark" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Contract Register</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Головна</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/user/all}">Користувачі</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer/all}">Замовники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contract/all}">Договори</a>
            </li>
            <li class="navbar-text">
                <span sec:authentication="name">Bob</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Вийти-></a>
            </li>
        </ul>
    </div>
</nav>



