<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/css/addons/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/addons/datatables-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <script type="text/javascript" charset="utf8" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" charset="utf8" th:src="@{/js/addons/datatables.min.js}"></script>


</head>

<body>

<!-- Include menu.html -->
<th:block th:include="menu"></th:block>

<div class="container-fluid">
    <h1>Users Table</h1>
    <div class="row table-responsive">
        <table id="users" class="table table-striped" cellspacing="0" width="100%">
            <thead class="table-dark">
            <tr>
                <th class="th-sm">Ід</th>
                <th class="th-sm">Ім'я</th>
                <th class="th-sm">Прізвище</th>
                <th class="th-sm">Логін</th>
                <th class="th-sm">Телефон</th>
                <th class="th-sm">Роль</th>
                <th class="th-sm">Редагувати</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${users}">
                <td th:utext="${member.getId()}">...</td>
                <td th:utext="${member.getFirstName()}">...</td>
                <td th:utext="${member.getLastName()}">...</td>
                <td th:utext="${member.getUsername()}">...</td>
                <td th:utext="${member.getPhone()}">...</td>
                <td th:utext="${member.getAuthorities()}">...</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       th:href="@{/user/{id}/update(id=${member.getId()})}">Редагувати</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row col-lg-6">
        <div th:if="${user != null}" class="alert alert-success" role="alert">
            <!--            <ul class="col-10">-->
            <!--                <span>User successfully registered: </span>-->
            <!--                <li>Name: <span th:utext="${user.getUsername()}">..</span></li>-->
            <!--                <li>Role: <span th:utext="${user.getAuthorities()}">..</span></li>-->
            <!--            </ul>-->
            <div th:utext="${'User successfully registered : name: ' + user.getUsername() + ', role: '+ user.getAuthorities()}"/>
            <button type="button" class="close col-2" data-dismiss="alert">x</button>
        </div>
        <a type="button" class="btn btn-success" th:href="@{/user/register}">Register
        </a>
    </div>

</div>
<script type="text/javascript" charset="utf8" th:src="@{/js/mdb..min.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/js/modules/mdb-autocomplete.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/js/modules/material-select.js}"></script>
<script>
    $(document).ready(function () {
        $('#users').DataTable();
        $('#users_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#users_wrapper .dataTables_filter').find('input').each(function () {
            $('input').attr("placeholder", "Search");
            $('input').removeClass('form-control-sm');
        });
        $('#users_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#users_wrapper .dataTables_filter').addClass('md-form');
        $('#users_wrapper select').removeClass(
            'custom-select custom-select-sm form-control form-control-sm');
        $('#users_wrapper select').addClass('mdb-select');
        $('#users_wrapper .mdb-select').materialSelect();
        $('#users_wrapper .dataTables_filter').find('label').remove();
    });

</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    $('.mdb-select').materialSelect();
</script>
</body>
</html>