<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mdb.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bar.chart.min.css}" />
    <script th:src="@{/js/jquery.bar.chart.min.js}"></script>

</head>

<body>

<!-- Include menu.html -->
<th:block th:include="menu"></th:block>

<h2>Home Page!</h2>

<div class="container">
    <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Card-->
            <div class="card">

                <!-- Card header -->
                <div class="card-header">Google map</div>

                <!--Card content-->
                <div class="card-body">
                    <div id="chtAnimatedBarChart" class="example"></div>

                </div>

            </div>
            <!--/.Card-->

        </div>
    </div>
</div>

<script>
    var myData = [
        { "group_name": "Гостинський", "name": "Jan", "value": 50 },
        { "group_name": "Ганжа", "name": "Jan", "value": 70 },
        { "group_name": "Хуйналанін", "name": "Jan", "value": 90 },
        { "group_name": "Іванов", "name": "Jan", "value": 110 }
    ];

    $('#chtAnimatedBarChart').animatedBarChart({
        data: myData,
        params: {
            group_name: 'group_name', // title for group name to be shown in legend
            name: 'name', // name for xaxis
            value: 'value' // value for yaxis
        }
    });

</script>

</body>
</html>